In [111]:
#Algoritmo de ML escolhido
# Considerando que o pretendido é encontrar empresas com as mesmas características para soluções em tratamento de água
# escolhi usar um algoritmo não supervisionado que possa agrupas as empresas com base em características similares
# Dessa forma, escolhi o K-Means

#importando as biliotecas
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans
from sklearn.pipeline import make_pipeline
import matplotlib.pyplot as plt

In [106]:
#Carregando o Dataframe
df_canada = pd.read_csv('canada_amostra.csv', sep=',')
df_canada.head()

,name,description,employees,total_funding,city,subcountry,lat,lng
0,fitin,fitin is the latest fit tech platform that pro...,1.0,NaN,toronto,ontario,43.70011,-79.416300
1,quinditech,our services include independent & collaborati...,10.0,NaN,montreal,quebec,45.50884,-73.587810
2,botfirst,chatlanding is a digital chatbot platform wher...,1.0,NaN,toronto,ontario,43.70011,-79.416300
3,bravver,ai-powered army of health professionals in you...,1.0,NaN,quebec,quebec,46.82596,-71.235223
4,stylify,stylify is a mobile platform that connects peo...,1.0,NaN,toronto,ontario,43.70011,-79.416300

In [107]:
#Conhecendo o tamanho do Dataframe
df_canada.shape

(21296, 8)

In [108]:
#Verificando dados nulos.
df_canada.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21296 entries, 0 to 21295
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           21295 non-null  object
 1   description    21296 non-null  object
 2   employees      21284 non-null  float64
 3   total_funding  2279 non-null   object
 4   city           21282 non-null  object
 5   subcountry     21282 non-null  object
 6   lat            21282 non-null  float64
 7   lng            21268 non-null  float64
dtypes: float64(3), object(5)
memory usage: 1.3+ MB

In [117]:
#A coluna description está completa em todas as linhas. 
#Farei a clusterização das empresas pela descrição. Dessa forma, todas as linhas estão satisfeitas.

modelo = make_pipeline(TfidfVectorizer(), KMeans(n_clusters=3, random_state=42))
df_canada['cluster'] = modelo.fit_predict(df_canada['description'])

C:\Users\lucia\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.8_qbz5n2kfra8p0\LocalCache\local-packages\Python38\site-packages\sklearn\cluster\_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

In [119]:
df_canada.head(10)

,name,description,employees,total_funding,city,subcountry,lat,lng,cluster
0,fitin,fitin is the latest fit tech platform that pro...,1.0,NaN,toronto,ontario,43.70011,-79.416300,1
1,quinditech,our services include independent & collaborati...,10.0,NaN,montreal,quebec,45.50884,-73.587810,0
2,botfirst,chatlanding is a digital chatbot platform wher...,1.0,NaN,toronto,ontario,43.70011,-79.416300,1
3,bravver,ai-powered army of health professionals in you...,1.0,NaN,quebec,quebec,46.82596,-71.235223,1
4,stylify,stylify is a mobile platform that connects peo...,1.0,NaN,toronto,ontario,43.70011,-79.416300,1
5,peloton technologies,peloton has developed a unique banking transac...,10.0,NaN,victoria,british columbia,48.43294,-123.369300,0
6,weave travels,weave is a web platform for travel companies. ...,1.0,NaN,toronto,ontario,43.70011,-79.416300,0
7,yspace - york university,yspace supports early stage technology compani...,1.0,NaN,markham,ontario,43.86682,-79.266300,0
8,glaucus.ai,glaucus.ai offers artificial intelligence for ...,1.0,NaN,montreal,quebec,45.50884,-73.587810,0
9,magnifi,"magnifi is an mobile, on-demand video consulti...",10.0,NaN,toronto,ontario,43.70011,-79.416300,0